@model IEnumerable<WebAppMVC.Model.Time>

@{
    ViewBag.Title = "Lista";
}
<h2>Times</h2>
<p>
    @Html.ActionLink("Criar novo time", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cores)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cores)
            </td>
            <td>
                @Html.ActionLink("Editar", "Update", new { id = item.TimeID }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.TimeID }, new { onclick = "return confirm('Tem certeza que deseja excluir?');" })
            </td>
        </tr>
    }
</table>
